<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/dashboard">Med InterRxtion Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#addMeds">Add Meds</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#yourMeds">Your Meds</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#medInteRx">Your Med InteRxtions</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="btn btn-info ml-3">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">

    <div class="mt-5">
        <br><br>
        <h2 class="lead mb-3">Welcome {{name}}</h2>
        <hr>
    </div>


    {{!-- Form to add medication --}}
    <section id="addMeds" class="bg-light" style="padding: 150px 0">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="mt-2">
                        {{!-- Partial for flash messages --}}
                        {{> flashMsgs}}
                    </div>
                    <form action="/api/add-meds/{{id}}/{{name}}" method="POST">
                        <h2 class="h2">Add Medications</h2>
                        <div class="form-group">
                            <label for="rxName">Medication Name</label>
                            <input type="rxName" id="rxName" name="rxName" class="form-control"
                                placeholder="Medication Name" />
                            <div id="matchlist"></div>
                        </div>
                        <div class="form-group">
                            <label for="rxNum">Medication Rx Number</label>
                            <input type="rxNum" id="rxNum" name="rxNum" class="form-control" placeholder="Rx Number" />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-plus-circle"></i>
                            Add</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    {{!-- Table for displaying medication --}}
    <section id="yourMeds" style="padding: 150px 0">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2 class="h2 pb-5">Your Current Medications</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Rx Number</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each meds}}
                            <tr id="medrow-{{this.id}}">
                                <td><i class="fas fa-pills"></i> {{this.rxName}}</td>
                                <td>
                                    <button class="rxNum btn btn-primary" style="width: 120px" data-rx={{this.rxNum}} data-toggle="modal" data-target="#medInfoModal">
                                        <i class="fas fa-prescription mr-1"></i>{{this.rxNum}}
                                    </button>
                                </td>
                                <td><button data-id={{this.id}} class="btn btn-secondary delete-med">
                                    <iclass="far fa-trash-alt"></i> Delete</button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="medInfoModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle"></h5>
                        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{!-- List group for displaying med interactions --}}
    <section id="medInteRx" class="bg-light" style="padding: 150px 0">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2 class="mb-3">Your Med InteRxtions</h2>
                    <div class="list-group">
                        {{#if oncHighInteractions}}
                        {{#each oncHighInteractions}}
                        <div href="#" class="list-group-item list-group-item-action list-group-item-success">
                            <div class="d-flex w-100 justify-content-between bg-secondary p-2 text-white rounded-lg">
                                <h5 class="mb-1">
                                    {{!-- <span class="badge badge-pill badge-secondary p-2"> --}}
                                        {{this.interactionPair.[0].interactionConcept.[0].sourceConceptItem.name}}<i class="fas fa-plus-circle mx-2"></i>{{this.interactionPair.[0].interactionConcept.[1].sourceConceptItem.name}}
                                    {{!-- </span> --}}
                                </h5>
                            </div>
                            <p class="my-1 px-2">{{this.interactionPair.[0].description}}</p>
                            <p class="px-2"><strong>Severity: </strong><span class="badge badge-pill badge-danger mx-1 p-2">{{this.interactionPair.[0].severity}}</span></p>
                            <small class="mx-2">Source: ONCHigh</small>
                        </div>
                        {{/each}}
                        {{/if}}

                        {{#if drugbankInteractions}}
                        {{#each drugbankInteractions}}
                        <div href="#" class="list-group-item list-group-item-action list-group-item-success">
                            <div class="d-flex w-100 justify-content-between bg-secondary p-2 text-white rounded-lg">
                                <h5 class="mb-1">
                                    {{!-- <span class="badge badge-pill badge-secondary p-2"> --}}
                                        {{this.interactionPair.[0].interactionConcept.[0].sourceConceptItem.name}}<i class="fas fa-plus-circle mx-2"></i>{{this.interactionPair.[0].interactionConcept.[1].sourceConceptItem.name}}
                                    {{!-- </span> --}}
                                </h5>
                            </div>
                            <p class="my-1 px-2">{{this.interactionPair.[0].description}}</p>
                            <p class="px-2"><strong>Severity: </strong><span class="badge badge-pill badge-warning mx-1 p-2">{{this.interactionPair.[0].severity}}</span></p>
                            <small class="mx-2">Source: DrugBank</small>
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="container-fluid py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Med InteRxtions 2019</p>
        </div>
    </footer>
</div>

<script src="./js/typeAhead.js"></script>